<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/container.css}">
    <link rel="stylesheet" th:href="@{/css/student-topic.css}">
    <link rel="stylesheet" th:href="@{/css/button.css}">
</head>
<body>
<section class="content-header" th:replace="~{menu/menu-student::IncludeStudentMenu}"></section>

<div class="container">
    <section class="content-header" th:replace="~{shared/back-button::IncludeBackButton}"></section>
    <div th:replace="~{${chapterTemplateName}}"></div>

    <section class="content-header" th:replace="~{shared/link-viewing::IncludeLinks}"></section>

    <div class="buttonContainer">
        <a th:href="@{/student/quiz}"><div class="buttonQuiz">Take Quiz</div></a>
    </div>
</div>
</body>
</html>
