<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Quiz</title>
    <link rel="stylesheet" th:href="@{/css/student-quiz.css}">
</head>
<body>

<div th:each="quiz, num : ${quizDTO}" class="quiz-container" th:classappend="${num.index == 0} ? 'active' : ''">
    <form th:action="@{/submitAnswer}" method="post" id="quizForm" th:if="${not #lists.isEmpty(quizDTO)}">
        <div class="topicPanel">
            <h3 th:text="'Question ' + (${num.index + 1})"></h3>
            <p th:text="${quiz.quiz}" class="question"></p>
            <div class="image-container" th:if="${quiz.filePath}">
                <img th:src="@{'/data/' + ${quiz.filePath}}" alt="Quiz Image">
            </div>
        </div>
        <div class="options">
            <div th:each="option, optIndex : ${quiz.options}">
                <div class="option" th:onclick="|handleOptionSelection('${quiz.quizId}', '${option.optionId}', this)|">
                    <span th:text="${option.option}"></span>
                </div>
            </div>
        </div>
        <input type="hidden" name="quizId" th:value="${quiz.quizId}"/>
    </form>
</div>

<script th:inline="javascript">
    var currentIndex = 0;
    var quizContainers = document.querySelectorAll('.quiz-container');

    async function handleOptionSelection(questionId, optionId, selectedOption) {
        var radioButtons = document.querySelectorAll('input[name="' + questionId + '"]');
        radioButtons.forEach(function(button) {
            button.disabled = true;
        });

        selectedOption.classList.add('selected');

        try {
            const isCorrect = await simulateCheckIsCorrect(questionId, optionId);

            updateOptionColor(selectedOption, isCorrect);

            var optionDivs = selectedOption.parentElement.parentElement.querySelectorAll('.option');
            optionDivs.forEach(function(optionDiv) {
                if (optionDiv !== selectedOption) {
                    optionDiv.style.pointerEvents = 'none';
                }
            });

            setTimeout(showNextQuestion, 1000);
        } catch (error) {
            console.error('Error checking answer:', error);
        }
    }

    async function simulateCheckIsCorrect(questionId, optionId) {
        const formData = new FormData();
        formData.append('questionId', questionId);
        formData.append('optionId', optionId);

        try {
            const response = await fetch('/api/checkAnswer', {
                method: 'POST',
                body: formData
            });

            if (!response.ok) {
                throw new Error('Failed to check answer');
            }

            const data = await response.json();

            if (typeof data === 'boolean') {
                return data;
            } else {
                throw new Error('Invalid response data');
            }
        } catch (error) {
            console.error('Error checking answer:', error);
            return false; // Return false in case of error
        }
    }


    function updateOptionColor(selectedOption, isCorrect) {
        selectedOption.classList.remove('selected');
        selectedOption.classList.add(isCorrect ? 'correct' : 'incorrect');
        selectedOption.style.color = isCorrect ? 'green' : 'red';
    }

    function showNextQuestion() {
        if (currentIndex < quizContainers.length - 1) {
            quizContainers[currentIndex].classList.remove('active');
            currentIndex++;
            quizContainers[currentIndex].classList.add('active');
        } else {
            window.location.href = '/student/congratulations';
        }
    }
</script>

</body>
</html>
