<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Quiz</title>
    <link rel="stylesheet" th:href="@{/css/student-quiz.css}">
</head>
<body>

<div th:each="quiz, num : ${quizDTO}" class="quiz-container" th:classappend="${num.index == 0} ? 'active' : ''">
    <form th:action="@{/submitAnswer}" method="post" id="quizForm" th:if="${not #lists.isEmpty(quizDTO)}">
        <div class="topicPanel">
            <h3 th:text="'Question ' + (${num.index + 1})"></h3>
            <p th:text="${quiz.quiz}" class="question"></p>
            <div class="image-container" th:if="${quiz.filePath}">
                <img th:src="@{'/data/' + ${quiz.filePath}}" alt="Quiz Image">
            </div>
        </div>
        <div class="options">
            <div th:each="option, optIndex : ${quiz.options}">
                <div class="option" th:id="'option_' + ${optIndex.index}"
                     onclick="handleOptionSelection(this)">
                    <span th:text="${option.option}"></span>
                </div>
            </div>
        </div>
        <input type="hidden" name="quizId" th:value="${quiz.quizId}"/> <!-- Hidden input for quizId -->
    </form>
</div>

<script th:inline="javascript">
    var currentIndex = 0;
    var quizContainers = document.querySelectorAll('.quiz-container');

    function handleOptionSelection(selectedOption) {
        var currentQuestion = selectedOption.getAttribute('name');
        var radioButtons = document.querySelectorAll('input[name="' + currentQuestion + '"]');
        radioButtons.forEach(function(button) {
            button.disabled = true;
        });

        // Highlight selected option
        selectedOption.classList.add('selected');

        setTimeout(function() {
            showNextQuestion();
        }, 1000);
    }

    function updateOptionColor(selectedOption, isCorrect) {
        selectedOption.classList.remove('selected');
        selectedOption.classList.add(isCorrect ? 'correct' : 'incorrect');
    }

    function showNextQuestion() {
        if (currentIndex < quizContainers.length - 1) {
            quizContainers[currentIndex].classList.remove('active');
            currentIndex++;
            quizContainers[currentIndex].classList.add('active');
        } else {
            window.location.href = '/student/quiz/result';
        }
    }

</script>

</body>
</html>
