<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/container.css}">
    <link rel="stylesheet" th:href="@{/css/admin_question.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script th:src="@{/js/admin_question.js}"></script>
</head>
<body>

<section class="content-header" th:replace="menu/menu-admin::IncludeMenu"></section>

<div class="container">
    <!-- Left Panel: Topics -->
    <div class="left-panel">
        <div th:each="topic : ${topics}" class="clickable-topic" th:data-topic-id="${topic.topicId}">
            <div style="float: left; width: 30%">
                <img th:src="@{${topic.picturePath}}" alt="topic image" class="topic-image">
            </div>
            <div style="float: right; width: 65%;">
                <div class="topic-info-container">
                    <span th:text="'Chapter ' + ${topic.topicId}"></span><br>
                    <span th:text="${topic.topicName}"></span>
                </div>
            </div>
            <div style="clear: both"></div>
        </div>
    </div>

    <!-- Right Panel: Topic Information -->
    <div class="right-panel" id="topicInfoPanel">
        <p>Select a topic to view details...</p>
    </div>
</div>
</body>
</html>
