<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <link rel="stylesheet" th:href="@{/css/container.css}">
    <link rel="icon" href="https://gktdpgoodfnlqwfrttqs.supabase.co/storage/v1/object/public/picture/logo-small.png">
</head> 
<body>

<section class="content-header" th:replace="menu/menu-admin::IncludeMenu"></section>

<div class="container">
    <div style="width: 100%; text-align: center"><h1>Courses</h1></div>
    <section class="content" th:replace="shared/courses-selection::IncludeCourse"></section>
</div>


</body>
</html>