<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Links Management</title>
    <link rel="stylesheet" th:href="@{/css/container.css}">
    <link rel="stylesheet" th:href="@{/css/admin_question.css}">
    <link rel="stylesheet" th:href="@{/css/admin_link.css}">
    <script th:src="@{/js/admin_link.js}"></script>
    <link rel="icon" href="https://gktdpgoodfnlqwfrttqs.supabase.co/storage/v1/object/public/picture/logo-small.png">

</head>
<body>

<section class="content-header" th:replace="menu/menu-admin::IncludeMenu"></section>

<div class="container">
    <div class="left-panel">
        <div th:each="topic : ${topics}" class="clickable-topic" th:data-topic-id="${topic.topicId}">
            <div style="float: left; width: 30%">
                <img th:src="@{${topic.picturePath}}" alt="topic image" class="topic-image">
            </div>
            <div style="float: right; width: 65%;">
                <div class="topic-info-container">
                    <span th:text="'Chapter ' + ${topic.topicId}" id="test"></span><br>
                    <span th:text="${topic.topicName}"></span>
                </div>
            </div>
            <div style="clear: both"></div>
        </div>
    </div>

    <div class="right-panel" id="topicInfoPanel">
        <p>Select a topic to view external links...</p>
    </div>
</div>


<div id="addModal" class="question-modal">
    <div class="add-modal-content">
        <span class="close" onclick="closeAddModal()">&times;</span>
        <h2>Add Links</h2>
        <form id="addItemForm">
            <label for="linkTitle">Title: </label>
            <input type="text" id="linkTitle" name="linkTitle" required><br>

            <label for="linkUrl">URL: </label>
            <textarea id="linkUrl" name="linkUrl" rows="2" cols="30" required></textarea><br>

            <div id="error-message">
            </div>
            <div class="buttonContainer">
                <button type="button" id="add-button" onclick="addLink()">Add Link</button>
            </div>
        </form>
    </div>
</div>

<div id="viewModal" class="question-modal">
    <div class="view-model-content">
        <span class="close" onclick="closeViewModal()">&times;</span>
        <h2>View Link</h2>
        <div class="addContainer">
            <div style="width: 100%; text-align: center">Please select a link</div>
        </div>
    </div>
</div>

<div id="editModal" class="question-modal">
    <div class="edit-model-content">
        <span class="close" onclick="closeEditModal()">&times;</span>
        <h2>Edit Link</h2>
        <div class="editContainer">
            <div style="width: 100%; text-align: center">Please select a question</div>
        </div>
    </div>
</div>

<div id="deleteModal" class="question-modal">
    <div class="delete-model-content">
        <span class="close" onclick="closeDeleteModal()">&times;</span>
        <h2>Delete Link</h2>
        <div class="deleteContainer">
            <div style="width: 100%; text-align: center">Please select a question</div>
        </div>
    </div>
</div>


</body>
</html>