.header {
    background-color: #007bff;
    color: white;
    padding: 15px 20px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
}

.dashboard-widgets {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.widget {
    background-color: #e9ecef;
    border-radius: 10px;
    padding: 20px;
    flex: 1 1 calc(33.333% - 20px); /* 3 widgets per row */
    min-width: 200px;
    text-align: center;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.widget:nth-child(4),
.widget:nth-child(5) {
    flex: 1 1 calc(50% - 20px); /* 2 widgets in the second row */
}

.widget h2 {
    margin-top: 0;
}

.footer {
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: #777;
}

.resultContainer {
    background-color: #e9ecef;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 39vh;
}

.resultContainer h2 {
    margin-top: 0;
}

#overallResult {
    max-height: 190px;
    width: 100% !important; /* Ensure it uses the full width of its container */
    height: 190px !important; /* Force the height to the max-height value */
    object-fit: contain; /* Ensure the content is resized properly */
}
