<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login - MathEase</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="icon" href="https://gktdpgoodfnlqwfrttqs.supabase.co/storage/v1/object/public/picture/logo-small.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

</head>
<body>

<div th:if="${successMessage}" class="message success-message">
    <span th:text="${successMessage}"></span>
</div>

<div th:if="${logoutMessage}" class="message logout-message">
    <span th:text="${logoutMessage}"></span>
</div>

<div th:if="${errorMessage}" class="message error-message">
    <span th:text="${errorMessage}"></span>
</div>

<div id="container">
    <div id="left">
        <img id="logo" src="https://gktdpgoodfnlqwfrttqs.supabase.co/storage/v1/object/public/picture/logo-small.png" alt="MathEase Logo">
        <a th:href="@{/}" class="center-link">
            <i class="fas fa-arrow-left"></i>
            <h2>MathEase</h2>
        </a>
    </div>
    <div id="right">
        <h2>Login</h2>
        <form th:action="@{/login}" method="post">
            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <p th:text="${error}" class="error-message"></p>
            <div>
                <button type="submit">Login</button>
            </div>
            <p>Don't have an account? <a th:href="@{/register}">Register</a></p>
            <p><a th:href="@{/forget-password}">Forgot Password?</a></p>
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var successMessage = document.querySelector('.success-message');
        var errorMessage = document.querySelector('.error-message');
        var logoutMessage = document.querySelector('.logout-message');

        function showMessage(element, message) {
            element.querySelector('span').innerText = message;
            element.style.display = 'block';
            setTimeout(function() {
                element.style.display = 'none';
            }, 10000);
        }

        showMessage(logoutMessage, 'You have been logged out successfully.');
        showMessage(successMessage, 'Your password has been updated successfully.');
        showMessage(errorMessage, 'Invalid email or password.');
    });
</script>

</body>
</html>
