<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile and Settings</title>
    <link rel="stylesheet" th:href="@{/css/settings.css}">
    <link rel="stylesheet" th:href="@{/css/popup_message.css}">
    <script th:src="@{/js/settings.js}"></script>
    <script th:src="@{/js/settings_logout.js}"></script>
    <!--    <section class="content-header" th:replace="shared/link-viewing::IncludeLinks"></section>-->

</head>
<body>
<div th:if="${session.role == 'admin'}">
    <section class="content-header" th:replace="menu/menu-admin::IncludeMenu" style="z-index: 9999"></section>
</div>
<div th:if="${session.role == 'student'}">
    <section class="content-header" th:replace="menu/menu-student::IncludeStudentMenu" style="z-index: 9999"></section>
</div>
<div class="container">
    <div style="width: 100%; text-align: center"><h1>Settings</h1></div>

    <div class="tabs">
        <button id="profileTab" class="tab-button active" onclick="toggleTab('profile')">
            User Profile
            <div class="tab-line"></div>
        </button>
        <button id="settingsTab" class="tab-button" onclick="toggleTab('settings')">
            Settings
            <div class="tab-line"></div>
        </button>
    </div>

    <!-- THE CONTENT FOR PROFILE -->
    <div id="profileContent" class="content active">
        <input type="hidden" name="userId" th:value="${userId}">
        <div class="profile-info">
            <img th:src="${profilePicture}" alt="Profile Picture">
            <div>
                <h2 th:text="${emailTitle}">Email Address</h2>
                <h3 th:text="${roleTitle}">Role</h3>
            </div>
        </div>
        <div class="separator"></div>
        <p><b>Please click on "Enter" after entering your information.</b></p>
        <div style="float: left; width:49%" class="left-box">
            <div>
                <label for="username">Username:</label> <br>
                <input type="text" id="username" name="username" th:value="${usernameInput}" onkeypress="handleKeyPress(event)">
                <div id="errorMessage"></div>
            </div>
            <br>
            <div>
                <label for="joinedDate">Joined Date:</label> <br>
                <input type="text" id="joinedDate" name="joinedDate" th:value="${joinedDateInput}" disabled>
            </div>
            <br>
            <div>
                <label for="resetButton">Reset Password:</label> <br>
                <button id="resetButton">Reset Password</button>
            </div>
        </div>
        <div style="float: right; width: 48%" class="right-box">
            <div style="float: left; width: 49%">
                <label for="profilePictureInput" class="profile-picture-label">Change Picture</label>
                <input type="file" id="profilePictureInput" style="display: none"  accept="image/png, image/jpeg, image/jpg" onchange="previewProfilePicture(event)">
                <br>
                <button id="saveButton" onclick="saveProfileChanges()">Save</button>
            </div>
            <div style="float: right; width: 49%">
                <div class="profile-picture-preview">
                    <img th:src="${profilePicture}" style="width: 200px; height: 200px; border-radius: 50%;" id="previewImage" >
                </div>
            </div>
            <div style="clear: both"></div>
        </div>
        <div style="clear: both"></div>
    </div>

    <!-- THE CONTENT FOR SETTINGS -->
    <div id="settingsContent" class="content">
        <h2>Settings</h2>
        <p>Settings options go here...</p>
        <button onclick="openModal()">Logout</button>
    </div>
</div>

<div id="logoutModal" class="modal">
    <div class="modal-content">
        <p>Are you sure you want to logout?</p>
        <button onclick="confirmLogout()" id="yesButton">Yes</button>
        <button onclick="cancelLogout()" id="noButton">No</button>
    </div>
</div>

<div class="loading-overlay" id="loadingOverlay">
    <div class="loading-spinner"></div>
</div>

<div id="passwordResetPopup" class="popup">
    <div class="popup-content">
        <span class="close" onclick="closePasswordResetPopup()">&times;</span>
        <h2>Reset Password</h2>
        <div>
            <label for="newPassword" style="margin-bottom: 0px">New Password:</label><br>
            <input type="password" id="newPassword" name="newPassword" required><br><br>
            <label for="confirmPassword" style="margin-bottom: 0px">Confirm Password:</label><br>
            <input type="password" id="confirmPassword" name="confirmPassword" required><br><br>
            <div id="errorPassword" style="margin-bottom: 10px"></div>
            <button onclick="confirmPasswordReset()">Reset Password</button>
        </div>
    </div>
</div>

</body>
</html>
